<head>
  <%= stylesheet_link_tag "custom.css.scss" %>
  <%= stylesheet_link_tag "home.css.scss" %>

</head>


<div class="jumbotron">
  <div class="col-md-6 col-md-offset-3 jumbo">
    <h1>EVERY DAY IS A GOOD HAIR DAY</h1>
  </div>
</div>

 <section class="section-daily-picture">
  <div class="row">
    <h2>Release your Confidence</h2>
  </div>
            
  <div class="row">
    <div class="col-sm-4 box">
      <%= link_to image_tag("mencut.png", alt: "mens cut" ), "#" %>
        <h3><a href="#">Men's Cut</a></h3>
      </div>
    <div class="col-sm-4 box ">
      <%= link_to image_tag("womencut.png", alt: "womens cut" ), "#" %>
      <h3><a href="#"> Women's Cut</a></h3>
    </div>
    <div class="col-sm-4 box">
      <%= link_to image_tag("redcolor.png", alt: "color" ), "#" %>
      <h3><a href="#">Color</a></h3>
    </div>
   </div>
 </section>
 <section class="section-special-picture">
    <div class="row">
      <h2>The Perfect Hairstyle for when <br>you say I do</h2>
    </div>
    <div class="row ">
      <div class="col-sm-4 col-sm-offset-2 special-box ">
        <%= link_to image_tag("bridal1.png", alt: "bridal" ), "#" %>
        <h3><a href="#">Bridal</a></h3>
      </div>
      <div class="col-sm-4 special-box">
        <%= link_to image_tag("prom1.png", alt: "prom" ), "#" %>
        <h3><a href="#">Prom</a></h3>
      </div>
    </div>
  </section>
  
  <%=render 'layouts/footer' %>